"*":
  Templates: {
    "0": "0"
    "1": "1"
    "2": "2"
    "3": "3"
    "4": "4"
    "5": "5"
    "6": "6"
    "7": "7"
    "8": "8"
    "9": "9"
    "a": "a"
    "b": "b"
    "c": "c"
    "d": "d"
    "e": "e"
    "f": "f"
    "g": "g"
    "h": "h"
    "i": "i"
    "j": "j"
  }
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
"source.python":
  Templates: {
    "0": "zero"
    "1": "one"
    "2": "two"
    "3": "three"
    "4": "four"
    "5": "five"
    "6": "six"
    "7": "seven"
    "8": "eight"
    "9": "nune"
    "a": "aye"
    "b": "bee"
    "c": "cee"
    "d": "dee"
    "e": "eee"
    "f": "eff"
    "g": "gee"
    "h": "ach"
    "i": "eye"
    "j": "jay"
  }
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
"text.md":
  Templates: {
    "0": "0 0"
    "1": "1 1"
    "2": "2 2"
    "3": "3 3"
    "4": "4 4"
    "5": "5 5"
    "6": "6 6"
    "7": "7 7"
    "8": "8 8"
    "9": "9 9"
    "a": "a a"
    "b": "b b"
    "c": "c c"
    "d": "d d"
    "e": "e e"
    "f": "f f"
    "g": "g g"
    "h": "h h"
    "i": "i i"
    "j": "j j"
  }
  LowerCaseFixedText: true
  UpperCaseSelectedText: false
  LinkifyFixedText: true
